.titreGallery {
    font-family: 'Recursive', sans-serif;
    font-size: 50px;
    margin-top: 65px;
}
.grids {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    margin: 20px;
    margin-top: 70px;
    width: auto;
    background: none;
    overflow: hidden;
    height: 250px;
    max-height: 40vh;
    box-shadow: 0px 15px 18px -6px black;
    border-radius: 10px;
    filter: gray;
    -webkit-filter: grayscale(1);
    transition: all .8s ease-in-out;
}
.box:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transform: scale(1.01);
}
.lienCont{
    margin-top: 80px;
}
.btnGallery {
    text-decoration: none;
    color: rgb(66, 149, 228);
    cursor: pointer;
    font-family: 'Recursive', sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
.btnGallery:hover {
    font-weight: bold;
}
.link {
    text-decoration: none !important;
    text-decoration-line: none !important;
    font-size: 25px;
    color: rgb(66, 149, 228);
    transition: 0.7s ease-in-out;
    
}
.link:hover {
    text-decoration: none !important;
    font-weight: bold;
    transform: scale(1.1);
}

@media screen and (max-width: 960px) {
    .titreGallery {
        font-size: 40px;
    }
    .grids {
        display: block;
    }
    .btnGallery {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .titreGallery {
        font-size: 30px;
    }
    .grids {
        display: block;
    }
    .box {
        margin: 50px 10px 10px 12px;
    }
    .btnGallery {
        font-size: 20px;
    }
}
