.cont {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    /* object-fit: contain; */
    justify-content: center;
    position: relative;
}
.videoAbout {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    right: 0%;
    top: 0%;
}
.aboutAnimation {
    position: absolute;
    z-index: 2000;
    width: 50%;
    color: white;
}
.presentat {
    margin: 0 500px;
    font-family: 'Recursive', sans-serif;
    /* font-size: 0px; */
}
/* .skills {
    transition: 0.5s ease-in-out;
} */
.btnSkills {
    font-family: 'Recursive', sans-serif;
    border: 2px solid white;
    padding: 15px 35px;
    font-size: 40px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    box-shadow: 0px 15px 18px -6px black;
}
.btnSkills:hover {
    background-color: rgb(102, 188, 223);
    font-weight: bold;
    transition: 0.5s ease-in-out;
    border: none;
    box-shadow: 0px 15px 18px -6px black;
}
@media screen and (max-width: 960px) {
    .btnSkills {
        padding: 10px;
        font-size: 35px;
    }
    .btnSkills:hover {
        background-color: rgb(102, 188, 223);
        font-weight: bold;
        transition: 0.5s ease-in-out;
    }
    .presentat {
        font-size: 25px;
    }
}
@media only screen and (max-width: 600px) {
    .btnSkills {
        padding: 10px;
        font-size: 30px;
    }
    .btnSkills:hover {
        background-color: rgb(102, 188, 223);
        font-weight: bold;
        transition: 0.5s ease-in-out;
    }
    .presentat {
        font-size: 30px;
    }
} 