.navbar {
    background-color: #f1e8d6;
    height: 0px;
    /* display: flex; */
    justify-content: flex-start;
    align-items: center;
    padding: 0 !important;
}
.menu-bars {
    font-size: 3rem;
    background: none;
}
.nav-menu {
    background: linear-gradient(#1e422c, #131413); 
    /* width: 250px; */
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    opacity: 0.5;
}
.nav-menu.active {
    left: 0;
    transition: 350ms;
}
.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    color: rgb(241, 241, 241);
}
.nav-text a {
    text-decoration: none;
    color: rgb(161, 253, 153);
    font-size: 27px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-family: 'Syne Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-text a:hover {
    background-color: rgb(66, 143, 91);
    text-decoration: none;
    color: white;
}
.nav-menu-items {
    width: 100%;
    list-style: none;
    text-decoration: none;
}
.nav-toggle {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
p {
    margin: 0 0 10px 10px;
    padding: 10px 10px;
}
