body {
  margin: 0;
  /* font-family: cursive; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* background: linear-gradient(#e66465, #9198e5); */
  
  /* background-image: url('./img/portfolio3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
